{% extends "blog/base.html" %}

{% block body_block %}
    <br>
    <div class="jumbotron" style="background-color: rgb(255, 208, 0); font-family: 'Courgette', cursive;">
        <h1 style="color: rgb(106, 125, 211);"><u>About Blog4all: </u></h1>
        <p>
            Blog4all is a blogging website. This website include blogs from several field like technology, education,
            sports, lifestyle, Workout, etc. <br>
            <b> The special feature of this website is it can filter blogs according to your requirement. The only thing 
            you have to do is to selct topic from dropdown menu on navigation bar.</b> <br>
            This whole project(frontend and backend both) is made by Piyush B Prince. <br>
            This project uses following technology:- </p>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>Bootstrap</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>

            </ul>
            <p style="font-family: 'Courgette', cursive;">This project also uses google fonts and Medium style Editor.</p>
        </p>
    </div>
{% endblock body_block %}